<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Edit Recipe</title>
</head>
<body>
	<div th:replace="navbar :: navbar"></div>
	<h1>Edit Recipe</h1>
	<form th:action="@{/edit_recipe}" method="post">

		<div>

			<input id="title" th:field="${newRecipe.title}" type="text" th:value="${newRecipe.title}"
				class="validate" /> <label for="title">Title</label>
		</div>
		<div>

			<input id="minutes" th:field="${newRecipe.minutes}" type="text"
				class="validate" /> <label for="minutes">Minutes</label>
		</div>
		<div>

			<textarea id="ingredients" th:field="${newRecipe.ingredients}"
				class="validate"></textarea>
			<label for="ingredients">Ingredients</label>
		</div>
		<div>

			<textarea id="instructions" th:field="${newRecipe.instructions}"
				class="validate"></textarea>
			<label for="instructions">Instructions</label>
		</div>
		
		<div class="form-group">
			<label for="type">Choose Meal Type:</label> 
			<input th:field="${newRecipe.type}" list="types" name="type" id="type">
			<datalist id="types">
				<option th:each="type : ${typeList}"
						th:value="${type}">
			</datalist>
		</div>

		<div class="form-group">
			<label for="cuisine">Choose Cuisine:</label> <input
				th:field="${newRecipe.cuisine}" list="cuisines" name="cuisine" id="cuisine">
			<datalist id="cuisines">
				<option th:each="cuisine : ${cuisineList}"
						th:value="${cuisine}">

			</datalist>
		</div>
		
		<div>
			<input id="favorite" type="checkbox" th:field="${newRecipe.favorite}" th:value="1"/>
    		<label for="favorite">Favorite</label>
		</div>
		<div>
			<input id="secret" type="checkbox" th:field="${newRecipe.secret}" th:value="1"/>
    		<label for="secret">Secret</label>
		</div>


		<button type="submit" name="action">Submit</button>



	</form>
	<div th:replace="footer :: footer"></div>
</body>
</html>